$color-primary-1: #000000;
$color-primary-2: #012b45;
$color-secondary-1: #333333;
$color-secondary-2: #cccccc;
$color-secondary-4: #236eb9;
$color-white: #ffffff;
$color-danger: #eb5757;
$color-danger-hover:#cc4c4c;
$color-bg:#eeeeee;
$color-success:#28a745;
