@font-face {
  font-family: 'HelveticaNeueReg';
  src: url('./../../assets/fonts/HelveticaNeue-Roman.eot');
  src: url('./../../assets/fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
       url('./../../assets/fonts/HelveticaNeue-Roman.woff') format('woff'),
       url('./../../assets/fonts/HelveticaNeue-Roman.ttf') format('truetype'),
       url('./../../assets/fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');

}
