.toast {
  position: absolute;
  top: 50px;
  padding: 10px;
  z-index: 999;
  background: $color-success;
  color: $color-white;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}
